/* Cookie bar */

.cookie-notice-container {
  padding: 5px 10px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;


}

#cookie-notice .button.wp-default {
  line-height: 16px;
  padding: 5px;
  border-radius: 20px;
  background-color: #fafafa;
  border: none;
  margin: 0 10px;
  opacity: 0.8;
  font-size: 12px;
  text-transform: capitalize;
  transition: all ease 0.8s;

}

#cookie-notice .button.wp-default:hover {
  opacity: 1;
}

#cookie-notice span {
  font-size: 12px;
  text-align: justify;
}

