@media only screen and (max-width: 500px) {
  #site-header-inner.clr {
    padding: 10px 22px;
  }

  #footer-widgets {
    padding: 20px !important;
  }

  .home-title {
    font-size: 23px !important;
    color: #fff;
  }

  .home-baseline {
    color: #fff;
    font-size: 22px !important;

  }

  .sde-h2 {
    font-size: 22px !important;
    color: #fff;
  }


}
